@{
    ViewData["Title"] = "Redirecting...";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <script type="text/javascript">
        window.location.href = '@Url.Action("Index", "Dashboard")';
    </script>
</head>
<body>
    <p>Redirecting to dashboard...</p>
</body>
</html>
