@{
    ViewData["Title"] = "Access Denied";
}
<h2>Access Denied</h2>
<p>You do not have the necessary permissions to view this page.</p>
<a class="btn btn-primary" asp-controller="Home" asp-action="Index">Return Home</a>
