@model VolunteerManagementSystem.Models.VolunteerOppurtunity

@{
    ViewData["Title"] = "Edit Volunteer Oppurtunity";
}

<h2>Edit Volunteer Oppurtunity</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" asp-for="VolunteerOppurtunityId" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date" class="control-label"></label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Organizer" class="control-label"></label>
        <input asp-for="Organizer" class="form-control" />
        <span asp-validation-for="Organizer" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PhoneContact" class="control-label"></label>
        <input asp-for="PhoneContact" class="form-control" />
        <span asp-validation-for="PhoneContact" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-default">Cancel</a>
    </div>
</form>